<!-- PoupPackForServicesComponent.html -->
<div class="popup-overlay">
  
    <!-- Image de fond -->
    <div class="popup-content">
      
      <!-- Image centrée -->
      <img src="/assets/Image/logo-aprops.png" alt="Custom Icon" class="img-fluid custom-image"  style="height: 50%; margin-bottom: 10px;">
  
      <!-- Texte centré après l'image -->
      <p class="popup-text">Mwgtd company was founded in 2018. 
        It is a project idea that aims to solve some problems through pioneering services worldwide. One of the major issues we address is installment financing. Due to the lack of collateral, customers often struggle to purchase products on an installment basis. our company offers a solution through the ‘bonus mayoufech’ service.
        Welcome to the world of mwgtd.</p>
  
      <!-- Bouton centré après le texte -->
      <button (click)="fermerPopup()" class="bt">Close</button>
  
    </div>
  </div>
  