<!-- PoupPackForServicesComponent.html -->
<div class="popup-overlay">
    <div class="popup-content">
        <img src="/assets/Image/service2.png" alt="Custom Icon" 
        class="img-fluid position-absolute" 
        style="border-radius: 50%; margin-top: -45px; margin-left: -30px;justify-content: center; margin-right: 20px;">
      
      <div class="popup-images">
        <img src="/assets/Image/Pack1.png" alt="Image 1" class="popup-image1"  (click)="navigateAndClose('/DetailsPack')">
        <img src="/assets/Image/pack2.png" alt="Image 2" class="popup-image1">
        <img src="/assets/Image/pack3.png" alt="Image 3" class="popup-image1">
        <img src="/assets/Image/pack4.png" alt="Image 3" class="popup-image1">
      </div>
      <div class="popup-images">
        <img src="/assets/Image/pack5.png" alt="Image 1" class="popup-image1">
        <img src="/assets/Image/pack6.png" alt="Image 2" class="popup-image1">
        <img src="/assets/Image/pack7.png" alt="Image 3" class="popup-image1">
        <img src="/assets/Image/pack8.png" alt="Image 3" class="popup-image1">
      </div>
      <button (click)="fermerPopup()" class="bt">Close pop-up</button>
    </div>
  </div>
  
  
  